
  

    <footer class="pt-4 my-md-5 pt-md-5 ">
        <div class="container">
          <hr />
          <div class="row icr" >
              <div class = "col-12 col-md"> 
                <img class="mb-2 logo" src="assets/images/logo.png" alt="" >
              </div>
              <div class = "col-md-4 store-icons">
                  <div class = "left app-store">
                    <a> <img class="logo" src="assets/images/app-store.svg" alt="" ></a>
                  </div>
                  <div class = "right" >
                    <a> <img class="logo " src="assets/images/play-store.svg" alt="" ></a>
                  </div>
                  

              </div>
              

          </div>
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted ft-txt">Amaco Group of Companies  <br/> One stop for all your needs !
          </small>
        </div>
        <div class="col-6 col-md">
          <h5>Navigation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Home</a></li>
            <li><a class="text-muted" href="#">Equipments</a></li>
            <li><a class="text-muted" href="#">Services</a></li> 
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Policies</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Privacy Policy</a></li>
            <li><a class="text-muted" href="#">Cookies</a></li> 
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Other Links</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">About us</a></li>
            <li><a class="text-muted" href="#">Contact us</a></li>
            <li><a class="text-muted" href="#">FAQ</a></li> 
          </ul>
        </div>
      </div>
    </div>
    </footer> 