 <div class="sidenav"> 
     <div class = "col-md-12">
        <h2>Apply filters</h2>

     </div>
     <div class = "col-md-12">
        <div class = "col-md-2">
            <label>Sort By</label>
        </div>
        <div class = "col-md-8">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>John Jacob<fa-icon [icon]="dropdownIcon"></fa-icon></button>
              
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem   [routerLink]="['/home']">Dashboard</button>
                <button ngbDropdownItem  [routerLink]="['/signin']">Logout</button> 
              </div>
            </div> 

        </div>
     </div>
     <div class = "col-md-12">
        <div class = "col-md-2">
            <label>Category</label>

        </div>
        <div class = "col-md-8">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>John Jacob<fa-icon [icon]="dropdownIcon"></fa-icon></button>
              
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem   [routerLink]="['/home']">Dashboard</button>
                <button ngbDropdownItem  [routerLink]="['/signin']">Logout</button> 
              </div>
            </div> 

        </div>

     </div>
     <div class = "col-md-12">
        <div class = "col-md-2">
            <label>Location</label>

        </div>
        <div class = "col-md-8">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>John Jacob<fa-icon [icon]="dropdownIcon"></fa-icon></button>
              
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem   [routerLink]="['/home']">Dashboard</button>
                <button ngbDropdownItem  [routerLink]="['/signin']">Logout</button> 
              </div>
            </div> 

        </div>

     </div>
     <div class = "col-md-12">
        <div class = "col-md-2">
            
            <label>Price</label>

        </div>
        <div class = "col-md-8">
             
        </div>

     </div>
     <div class = "col-md-12">
        <div class = "col-md-2">
            <label>Show Featured Only</label>

        </div>
        <div class = "col-md-8">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
            </div>

        </div>

     </div>
  </div>