 











<div class="col-sm-12 listing-wrapper card">
    <div class="row listing-top-section">
        <div class="col-md-4 col-sm-4 col-xs-12 listing-main-image-wrapper my-auto">
            <div class="">
                <img src="{{listingImage}}" class="listing-main-image image-centered" />
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 listing-details-section">
            <h3 class="listing-title faded-font"> <a (click)="goToOrderDetails()" class = "faded-font item-name">{{listingTitle}}</a></h3> 
            <p style="min-height: 25px;" class="listing-detail-key green-font">   {{moreItems}}</p>
            <p class="listing-detail-key middle-key "><span class = "faded-font">{{referenceId}}</span>   | <span class ="green-font">SAR {{totalAmount}}</span> </p>
            <p class="listing-detail-key dark-font user-name">{{userName}}</p> 
        </div>
    </div>
    
</div>