<section class="sign-up-super-container">
    <div class="container">
        <div class="row sign-up-parent-row">
            <div class="col-sm-6 sign-in-instead-container " style="background-image: url('assets/images/forgot-password.jpg');">
                <div class="row my-auto sign-up-overlay height-100">
                    <div class="col-sm-1 col-md-2"></div>
                    <div class="col-sm-10 col-md-8 my-auto">
                        <div class="row sign-in-instead-row">
                            <div class="col-sm-12">
                                <p class="sign-in-instead-hero-text">Do You Remember Your Password?<br>Login Here!</p>
                            </div>
                        </div>
                        <div class="row sign-in-instead-row">
                            <div class="col-sm-12">
                                <a class="btn amaco-btn amaco-btn-light center-btn"   [routerLink]="['/signin']">Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-2"></div>
                </div>
            </div>

            <div class="col-sm-6 sign-up-container">
                <div class="row">
                    <div class="col-sm-1 col-md-2"></div>
                    <div class="col-sm-10 col-md-8 sign-up-content-wrapper">
                        <div class="row sign-up-row">
                            <div class="col-sm-12">
                                <h1 class="forgot-password-heading">Forgot Password</h1>
                            </div>
                        </div>
                        <div class="row sign-up-row">
                            <div class="col-sm-12">
                                <p class="sign-up-message-text">Enter Phone Number to Reset Password!</p>
                            </div>
                        </div>
                        <div class="row sign-up-row">
                            <div class="col-sm-12">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control amaco-input" placeholder="Phone Number"
                                        aria-label="Phone Number" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row sign-up-row">
                            <div class="col-sm-12">
                                <a class="btn amaco-btn amaco-btn-dark center-btn">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-2"></div>
                </div>
            </div>
        </div><!-- Parent Row-->
    </div><!-- Container-->
</section>